.icon-sprite, .contextual .trigger {
  background: url('../img/icon-s5edbff5a54.png') no-repeat;
}

.article .user-photo,
.article .submitted {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
.article .user-photo,
.article .submitted {
  *display: inline;
}
.article .submitted,
.article .image {
  font-size: 0.875rem;
}
.article .image {
  border: solid 1px #eeeeee;
  color: #415358;
  float: right;
  padding: 1rem;
  margin: 1rem 0 0 1rem;
  text-align: right;
}
.article details {
  *zoom: 1;
}
.article details:after {
  content: "";
  display: table;
  clear: both;
}

.contextual-region {
  position: relative;
}

.contextual,
.contextual-links {
  position: absolute;
}

.contextual {
  top: 1em;
  right: 1em;
}
.contextual .trigger {
  background-position: 6px 6px;
  border: solid 1px white;
  display: block;
  overflow: hidden;
  position: relative;
  text-indent: 100%;
  width: 34px;
  height: 34px;
  z-index: 1;
}

.contextual-active .trigger {
  border-color: #dddddd;
  border-bottom-color: white;
  border-radius: 3px;
}

ul.contextual-links {
  list-style: none;
  border: 1px solid #dddddd;
  border-radius: 3px;
  display: none;
  position: absolute;
  padding: 3px 8px;
  top: 33px;
  right: 0;
}
ul.contextual-links li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  *zoom: 1;
}
.breadcrumbs:after {
  content: "";
  display: table;
  clear: both;
}
.breadcrumbs li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
.breadcrumbs li:first-child, .breadcrumbs li.first {
  padding-left: 0;
}
.breadcrumbs li:last-child {
  padding-right: 0;
}
.breadcrumbs li.last {
  padding-right: 0;
}

ul.tabs {
  *zoom: 1;
  margin: 0;
  padding: 0;
  *zoom: 1;
  margin: 1em 0;
}
ul.tabs:after {
  content: "";
  display: table;
  clear: both;
}
ul.tabs:after {
  content: "";
  display: table;
  clear: both;
}
ul.tabs li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
ul.tabs li {
  *display: inline;
}
ul.tabs li.active {
  background-color: #eeeeee;
  color: black;
}
ul.tabs a.active {
  color: black;
}

.primary {
  border-bottom: 1px solid #eeeeee;
}
.primary li {
  border: 1px solid #eeeeee;
  border-bottom: 0;
}
.primary a {
  background-color: white;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  padding: 4px 1em;
}
.primary a {
  *display: inline;
}

ul.pager {
  border-radius: 3px;
  overflow: hidden;
  *zoom: 1;
  list-style: none;
  line-height: 2;
  margin: 1em 0;
  padding-left: 0;
}
ul.pager li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

.pager li {
  border: solid 1px #eeeeee;
  border-left-width: 0;
  float: left;
  margin: 0;
  padding: 0;
}
.pager li:first-child {
  border-left-width: 1px;
}

.pager a,
.pager .current {
  padding: 0 1em;
}

.pager a {
  text-decoration: none;
  display: inline-block;
}
