<section class="example">
<h3>List</h3>
<div class="rendered-example">
  <ol class="breadcrumbs">
    <li><a href="#">Home</a> <span class="divider">/</span></li>
    <li><a href="#">Library</a> <span class="divider">/</span></li>
    <li class="active">Data</li>
  </ol>
</div>
</section>

<section class="example">
<h3>Links</h3>
<div class="rendered-example">
  <a href="#">Home</a> <a href="#">Library</a> Data
</div>
<div class="rendered-example">
  <a href="#">Home</a> / <a href="#">Library</a> / Data
</div>
</section>
