<dl>
<dt>Example one</dt>
<dd>Lorem ipsum Dolor sit amet, consectetur adipiscing elit.</dd>
<dt>Example two</dt>
<dd>
  <ul>
    <li>Cras sit amet dolor sit amet nunc congue luctus ultrices vitae quam.</li>
    <li>In eu augue lectus, sit amet scelerisque magna.</li>
  </ul>
</dd>
<dt>Example three</dt>
<dd>Maecenas sit amet erat a arcu pellentesque rhoncus sit amet in ipsum.</dd>
<dd>Vestibulum vitae leo vitae enim tempus euismod at quis mi.</dd>
<dt>Example four</dt>
<dd>
  <dl>
    <dt>Nested Example One</dt>
    <dd>Vestibulum a augue leo, sit amet faucibus nunc.</dd>
    <dd>Ut quis nibh eget nunc tristique consectetur vel volutpat elit.</dd>
  </dl>
  <h3>Nested Example Two</h3>
  <ul>
    <li>Vestibulum a augue leo, sit amet faucibus nunc.</li>
    <li>Ut quis nibh eget nunc tristique consectetur vel volutpat elit.</li>
  </ul>
</dd>
</dl>
