<h2>Main Navigation</h2>
<ul>
  <li>
    <h3>Structure</h3>
    <ul>
      <li><a href="{{ site.baseurl }}/structure/container">Containers</a></li>
      <li><a href="{{ site.baseurl }}/structure/item">Items</a></li>
      <li><a href="{{ site.baseurl }}/structure/variables">Variables</a></li>
      <li><a href="{{ site.baseurl }}/structure/render">Rendering</a></li>
    </ul>
  </li>
  <li>
    <h3>Formats</h3>
    <ul>
      <li><a href="{{ site.baseurl }}/formats/definition-list">Definition List</a></li>
      <li><a href="{{ site.baseurl }}/formats/figure">Figure</a></li>
      <li><a href="{{ site.baseurl }}/formats/form-inputs">Form inputs</a></li>
      <li><a href="{{ site.baseurl }}/formats/form-widgets">Form widgets</a></li>
      <li><a href="{{ site.baseurl }}/formats/form-elements">Form elements</a></li>
      <li><a href="{{ site.baseurl }}/formats/list">Lists</a></li>
      <li><a href="{{ site.baseurl }}/formats/table">Tables</a></li>
    </ul>
  </li>
  <li>
    <h3>Components</h3>
    <ul>
      <li><a href="{{ site.baseurl }}/components/accordion">Accordion</a></li>
      <li><a href="{{ site.baseurl }}/components/breadcrumbs">Breadcrumbs</a></li>
      <li><a href="{{ site.baseurl }}/components/buttons">Buttons</a></li>
      <li><a href="{{ site.baseurl }}/components/carousel">Carousel</a></li>
      <li><a href="{{ site.baseurl }}/components/icons">Icons</a></li>
      <li><a href="{{ site.baseurl }}/components/pagination">Pagination</a></li>
      <li><a href="{{ site.baseurl }}/components/tabs">Tabs</a></li>
      <li><a href="{{ site.baseurl }}/components/vertical-tabs">Vertical tabs</a></li>
    </ul>
  </li>
  <li>
    <h3>Standards</h3>
    <ul>
      <li><a href="{{ site.baseurl }}/standards/css">CSS</a></li>
      <li><a href="{{ site.baseurl }}/standards/js">JavaScript</a></li>
    </ul>
  </li>
</ul>
