<h2>Main Navigation</h2>
<ul>
  <li>
    <h3>Structure</h3>
    <ul>
      <li><a href="{{ site.baseurl }}/container">Containers</a></li>
      <li><a href="{{ site.baseurl }}/item">Items</a></li>
      <li><a href="{{ site.baseurl }}/variables">Variables</a></li>
      <li><a href="{{ site.baseurl }}/render">Rendering</a></li>
    </ul>
  </li>
  <li>
    <h3>Formats</h3>
    <ul>
      <li><a href="{{ site.baseurl }}/code">Code</a> <mark>?</mark></li>
      <li><a href="{{ site.baseurl }}/definition-list">Definition List</a></li>
      <li><a href="{{ site.baseurl }}/form-inputs">Form inputs</a></li>
      <li><a href="{{ site.baseurl }}/form-widgets">Form widgets</a></li>
      <li><a href="{{ site.baseurl }}/form-elements">Form elements</a></li>
      <li><a href="{{ site.baseurl }}/list">Lists</a></li>
      <li><a href="{{ site.baseurl }}/table">Tables</a></li>
    </ul>
  </li>
  <li>
    <h3>Patterns</h3>
    <ul>
      <li><a href="{{ site.baseurl }}/accordion">Accordion</a></li>
      <li><a href="{{ site.baseurl }}/breadcrumbs">Breadcrumbs</a></li>
      <li><a href="{{ site.baseurl }}/buttons">Buttons</a></li>
      <li><a href="{{ site.baseurl }}/carousel">Carousel</a></li>
      <li><a href="{{ site.baseurl }}/icons">Icons</a></li>
      <li><a href="{{ site.baseurl }}/pagination">Pagination</a></li>
      <li><a href="{{ site.baseurl }}/tabs">Tabs</a></li>
    </ul>
  </li>
  <li>
    <h3>Standards</h3>
    <ul>
      <li><a href="{{ site.baseurl }}/css-standards">CSS</a></li>
      <li><a href="{{ site.baseurl }}/js-standards">JavaScript</a></li>
    </ul>
  </li>
  <li>
    <h3>About</h3>
    <ul>
      <li><a href="{{ site.baseurl }}/about">About</a></li>
      <li><a href="{{ site.baseurl }}/demo">Demo</a></li>
    </ul>
  </li>
</ul>
