---
layout: default
title: "Demo"
---

<section id="structure">
  <h2>Structure</h2>
  {% include examples/container.html %}
  {% include examples/container-article.html %}
  {% include examples/item.html %}
</section>

<section id="formats">
  <h2>Formats</h2>
  <section id="lists">
    {% include examples/list.html %}
    {% include examples/list-ordered.html %}
    {% include examples/list-definition.html %}
  </section>

  {% include examples/figure.html %}
  {% include examples/heading.html %}

  <section id="forms">
    <h3>Forms</h3>
    {% include examples/input-checkbox.html %}
    {% include examples/input-color.html %}
    {% include examples/input-date.html %}
    {% include examples/input-email.html %}
  </section>
</section>

<section id="components">
  <h2>Components</h2>
  {% include examples/breadcrumbs.html %}
  {% include examples/pagination.html %}
  {% include examples/tabs.html %}
</section>
