---
layout: default
title: "Demo"
---

<section id="formats">
  <h2>Formats</h2>
  {% include examples/definition-list.html %}
  {% include examples/figure.html %}
  {% include examples/heading.html %}
  {% include examples/input-checkbox.html %}
  {% include examples/input-color.html %}
  {% include examples/input-date.html %}
  {% include examples/input-email.html %}
  {% include examples/ordered-list.html %}
  {% include examples/unordered-list.html %}
</section>

<section id="components">
  <h2>Components</h2>
  {% include examples/breadcrumbs.html %}
  {% include examples/pagination.html %}
  {% include examples/tabs.html %}
</section>
