<figure class="example components" id="component-breadcrumbs">
<figcaption>Breadcrumbs <code>breadcrumbs</code></figcaption>
<div class="module">
  <h2>You are here</h2>
  <ol class="breadcrumbs">
    <li><a href="#">Home</a> »</li>
    <li><a href="#">Library</a> »</li>
    <li class="active"><a>Data</a></li>
  </ol>
</div>
<details>
<summary>HTML source</summary>
{% highlight html %}
<h2>You are here</h2>
<ol class="breadcrumbs">
  <li><a href="#">Home</a> »</li>
  <li><a href="#">Library</a> »</li>
  <li class="active"><a>Data</a></li>
</ol>
{% endhighlight %}
</details>
</figure>
