<figure class="example structure" id="container-article">
  <figcaption>Container / Article <code>container__article</code></figcaption>
  <div class="module">
    <article class="node article contextual-region">
      {% include examples/contextual.html %}
      <h1>Title</h1>
      <footer>
        <img class="user-photo" src="/drupal/img/user.png" alt="User photo">
        <p class="submitted">Posted by <a href="#">username</a> on <time datetime="2012-03-15">3/15/2012</time>.</p>
      </footer>
      <figure class="image">
        <img src="/drupal/img/whale-tail.jpg" alt="A whale with its tail in the air after jumping and diving back into the ocean.">
        <figcaption>Whale watching off shore in Cape Cod, MA in 2008.</figcaption>
      </figure>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a dolor sed dolor vehicula fermentum. Nulla ac est a purus consequat luctus vitae vel erat. Praesent dictum, nisi sit amet dignissim dictum, lorem tellus dictum libero, eu adipiscing orci nunc in eros. Aliquam pellentesque tincidunt purus in tincidunt. Maecenas quis sapien nibh, in euismod purus. Aliquam in quam augue, id vehicula enim. Phasellus vel neque eget orci fermentum scelerisque. Aliquam fringilla lobortis est sit amet molestie. Praesent placerat faucibus consequat. Quisque fringilla ante lacus, sit amet congue risus.</p>
      <p>Praesent nec urna tellus. In quis nisl id sem laoreet dignissim. Etiam ac tellus neque, nec sodales nisi. Sed erat metus, ultricies quis convallis sit amet, mollis sit amet risus. Ut massa quam, consequat vitae tincidunt varius, sagittis sed erat. In eget dolor nulla. Morbi sit amet orci sem. Quisque at purus tellus. Donec bibendum pretium eros a hendrerit. Aliquam convallis lectus ut risus tempor ut feugiat velit luctus. Donec mattis, nisl vel venenatis interdum, velit nulla mollis erat, nec condimentum orci nunc non lacus.</p>
    </article>
  </div>
  <details>
    <summary>HTML source</summary>
{% highlight html %}
<article class="node article contextual-region">
  {% include examples/contextual.html %}
  <h1>Title</h1>
  <footer>
    <img class="user-photo" src="/drupal/img/user.png" alt="User photo">
    <p class="submitted">Posted by <a href="#">username</a> on <time datetime="2012-03-15">3/15/2012</time>.</p>
  </footer>
  <figure class="image">
    <img src="/drupal/img/whale-tail.jpg" alt="A whale with its tail in the air after jumping and diving back into the ocean.">
    <figcaption>Whale watching off shore in Cape Cod, MA in 2008.</figcaption>
  </figure>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a dolor sed dolor vehicula fermentum. Nulla ac est a purus consequat luctus vitae vel erat. Praesent dictum, nisi sit amet dignissim dictum, lorem tellus dictum libero, eu adipiscing orci nunc in eros. Aliquam pellentesque tincidunt purus in tincidunt. Maecenas quis sapien nibh, in euismod purus. Aliquam in quam augue, id vehicula enim. Phasellus vel neque eget orci fermentum scelerisque. Aliquam fringilla lobortis est sit amet molestie. Praesent placerat faucibus consequat. Quisque fringilla ante lacus, sit amet congue risus.</p>
  <p>Praesent nec urna tellus. In quis nisl id sem laoreet dignissim. Etiam ac tellus neque, nec sodales nisi. Sed erat metus, ultricies quis convallis sit amet, mollis sit amet risus. Ut massa quam, consequat vitae tincidunt varius, sagittis sed erat. In eget dolor nulla. Morbi sit amet orci sem. Quisque at purus tellus. Donec bibendum pretium eros a hendrerit. Aliquam convallis lectus ut risus tempor ut feugiat velit luctus. Donec mattis, nisl vel venenatis interdum, velit nulla mollis erat, nec condimentum orci nunc non lacus.</p>
</article>
{% endhighlight %}
  </details>
  <details>
    <summary>PHP source</summary>
    {% highlight php %}
<article<?php print $attributes; ?>>
  <?php print render($prepend); ?>
  <?php print render($content['title']); ?>
  <footer>
    <?php print render($content['user_picture']); ?>
    <?php print render($content['submitted']); ?>
  </footer>
  <?php print render($content['image']); ?>
  <?php print render($content); ?>
  <?php print render($content['links']); ?>
  <?php print render($append); ?>
</article>
{% endhighlight %}
  </details>
</figure>
