<figure class="example components">
<figcaption>Pagination</figcaption>
<ul class="pager">
  <li class="first"><a href="#" title="Go to first page">« first</a></li>
  <li class="previous"><a href="#" title="Go to previous page">‹ previous</a></li>
  <li class="current">1</li>
  <li><a href="#" title="Go to page 2">2</a></li>
  <li><a href="#" title="Go to page 3">3</a></li>
  <li><a href="#" title="Go to page 4">4</a></li>
  <li><a href="#" title="Go to page 5">5</a></li>
  <li class="next"><a href="#" title="Go to next page">next ›</a></li>
  <li class="last"><a href="#" title="Go to last page">last »</a></li>
 </ul>
<details>
<summary>Source</summary>
{% highlight html %}
<ul class="pager">
  <li class="first"><a href="#" title="Go to first page">« first</a></li>
  <li class="previous"><a href="#" title="Go to previous page">‹ previous</a></li>
  <li class="current">1</li>
  <li><a href="#" title="Go to page 2">2</a></li>
  <li><a href="#" title="Go to page 3">3</a></li>
  <li><a href="#" title="Go to page 4">4</a></li>
  <li><a href="#" title="Go to page 5">5</a></li>
  <li class="next"><a href="#" title="Go to next page">next ›</a></li>
  <li class="last"><a href="#" title="Go to last page">last »</a></li>
 </ul>
{% endhighlight %}
</details>
</figure>
