<figure class="example components" id="component-tabs">
<figcaption>Primary and Secondary Tabs <code>tabs</code></figcaption>
  <div class="module">
    <nav class="tabs" role="navigation">
      <h2>Primary Tabs</h2>
      <ul class="tabs primary">
        <li><a href="#">First</a></li>
        <li><a href="#">Second</a></li>
        <li class="active"><a href="#" class="active">Third <span class="visually-hidden">Active tab</span></a></li>
        <li><a href="#">Fourth</a></li>
      </ul>
      <h2>Secondary Tabs</h2>
      <ul class="tabs secondary">
        <li><a href="#">One</a></li>
        <li><a href="#">Two</a></li>
        <li><a href="#">Three</a></li>
        <li><a href="#">Four</a></li>
        <li><a href="#">Five</a></li>
      </ul>
    </nav>
  </div>
<details>
<summary>HTML source</summary>
{% highlight html %}
<nav class="tabs" role="navigation">
  <h2>Primary Tabs</h2>
  <ul class="tabs primary">
    <li><a href="#">First</a></li>
    <li><a href="#">Second</a></li>
    <li class="active"><a href="#" class="active">Third <span class="visually-hidden">Active tab</span></a></li>
    <li><a href="#">Fourth</a></li>
  </ul>
  <h2>Secondary Tabs</h2>
  <ul class="tabs secondary">
    <li><a href="#">One</a></li>
    <li><a href="#">Two</a></li>
    <li><a href="#">Three</a></li>
    <li><a href="#">Four</a></li>
    <li><a href="#">Five</a></li>
  </ul>
</nav>
{% endhighlight %}
</details>
</figure>
